<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <body>
        <div class="card">
            <p>Mã OTP của bạn là: <strong style="color: red">{{otp}}</strong></p>
            <br/>
            <p>OTP này hết hạn vào {{otpExpired}}</p>
            <p>Bạn không nên đưa OTP này cho bất kì người nào khác</p>
        </div>
    </body>
</html>